/* HEADER */

header {
    display: flex;
    align-items: center; 
    text-align: center; 
    background-color: #095a89;
    height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1003;
    transition: height 0.5s ease;
  }  

  .img-header {
    margin-right: 10px;
    margin-left: 35px;
  }


  .half-circle-btn {
    width: 40px;
    height: 20px; 
    background-color: rgb(255, 255, 255) !important;
    background: url('https://api.iconify.design/iconamoon/arrow-up-2.svg?width=30&height=30') no-repeat center center / contain;
    border: none;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    z-index: 1001;
    cursor: pointer;
    position: fixed !important;
    top: 60px !important;
    right: 50%; 
    transition: top 0.5s ease;
  }

  .half-circle-btn2 {
    width: 40px;
    height: 20px; 
    background-color: rgb(255, 255, 255) !important;
    background: url('https://api.iconify.design/iconamoon/arrow-up-2.svg?width=20&height=20&rotate=180deg') no-repeat center center / contain;
    border: none;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    z-index: 1001;
    cursor: pointer;
    position: fixed !important;
    top: 0px !important;
    right: 50%; 
    transition: top 0.5s ease;
  }

  #toggle-header-btn.new-style-btn {
    background-color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s ease; /* Agregar transición para animar el movimiento del botón */
}
  

  .btn-satelite {
    width: 80px;
    height:37px;
    color: #000000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    top: 675px;
    right: 90px; 
    z-index: 1001;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed !important;
  }

  .btn-satelite:hover {
    font-weight: bold;
  }

  .btn-mapa {
    width: 80px;
    height:37px;
    color: #000000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    top: 675px;
    right: 20px; 
    z-index: 1001;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed !important;
  }

  .btn-mapa:hover {
    font-weight: bold;
  }


.img-logocolima {
    
    margin-left: 600px;
    width: 140px; 
    height: 50px;
}

.titulo-mapa-interactivo {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-left: 19px;
    font-size: 25px;
    margin-top: 15px; 
}

.INEGI-2020 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 13px;
    margin-left: -25rem;
    margin-top: -26px;
}

/* Estilo Checkbox */

.checkbox-hidden {
  /* Oculta la casilla de verificación predeterminada */
  display: none;
}

.custom-checkbox {
  /* Define el tamaño y otros estilos para el contenedor del icono */
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position:static;
}

/* Estilo para el icono cuando la casilla está seleccionada */
.custom-checkbox::before {
  content: url('https://api.iconify.design/ph/eye.svg?width=20&height=20&rotate=180deg');
  display: block;
}

/* Estilo para el icono cuando la casilla no está seleccionada */
.custom-checkbox::after {
  content: url('https://api.iconify.design/mdi/eye.svg?width=20&height=20&rotate=180deg');
  display: none;
}

/* Cambia la apariencia de los iconos cuando la casilla está marcada */
.checkbox-hidden:checked + .custom-checkbox::before {
  display: none;
}

.checkbox-hidden:checked + .custom-checkbox::after {
  display: block;
}



/* LEAFLET */

.leaflet-control-geocoder,
.leaflet-control-geocoder-icon {
    border-radius: 50px !important;

}

.leaflet-control-geocoder-icon {
    width: 40px !important;
    height: 40px !important;
    background: url('https://api.iconify.design/mingcute/search-fill.svg?width=50&height=50') no-repeat center center / contain !important;
    background-size: 32px !important;
}


  /* ... buscador  ... */
  
  .leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
    display: inline-block;
    position: absolute;
    left: 50px; 
    top: 5px;
    background-color: #ffffff;
    height: 30px;
    border-radius: 5px;
  }

/* Estilo para centrar verticalmente el placeholder */
.leaflet-control-geocoder-form input::placeholder {
    color: #000000; /* Color del texto del placeholder */
    opacity: 1; /* Opacidad completa para el placeholder */
    display: flex;
    align-items: center;
    line-height: 1; /* Esto puede ayudar a centrar el texto verticalmente */
  }
  
  /* Estilo para el campo de entrada */
  .leaflet-control-geocoder-form input {
    font-size: 120%;
    border: 0;
    width: 246px;
    height: 100%; /* Esto asegura que el campo de entrada ocupa toda la altura del contenedor */
    box-sizing: border-box;
    padding: 0; /* Elimina el relleno predeterminado del campo de entrada */
  }

  .leaflet-control-geocoder-expanded .leaflet-control-geocoder-alternatives {
    left: 50px;
    display: inline-block;
    position: absolute;
    top: 40px;
    background-color: #fff !important;
    border-radius: 5px;
  }

 .leaflet-control-geocoder {
    position: fixed !important;
    top: 170px;
    right: 1450px;
} 

.leaflet-control-geocoder-alternatives li:hover,
.leaflet-control-geocoder-selected {
  background-color: #ffffff;
}

.leaflet-control-geocoder-alternatives li {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    padding: 5px 8px;
    text-overflow: ellipsis;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
  }
  

/* Estilo para el zoom del mapa */
.leaflet-control-zoom {
    position: fixed !important;
    bottom: 90px; /* Ajusta este valor según tus preferencias */
    right: 10px; /* Ajusta este valor según tus preferencias */
}

/* Estilo control imprimir mapa */

.leaflet-browser-print {
    position: fixed !important;
    bottom: 100px; /* Ajusta este valor según tus preferencias */
    right: 62px; /* Ajusta este valor según tus preferencias */
    background: url('https://api.iconify.design/ph/printer-fill.svg?color=black&back&width=50&height=50') no-repeat center center / contain !important;
    background-color: #fff!important;
    border-radius: 40px !important;
    height: 45px !important;
    width: 45px !important;
}

.browser-print-holder {
    position: relative !important;
    bottom: 110px !important;
    right:155px !important; 
    background-color: #095a89 !important;
    height: 20px !important;
}

.browser-print-holder:hover {
    background-color: #0c4464 !important;
}

.leaflet-control-print-mode {
    bottom: 100px;
}

.img-logo {
    z-index: 1000;
    position: absolute;
    width: 300px;
    margin-top: -50px;
    left: 1239px;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#map {
    height: calc(100% - 60px); /* Resta el tamaño del header */
    transition: height 0.5s ease;
}

#map2 {
    height:100% ; /* Resta el tamaño del header */
    transition: height 0.5s ease;
}


/* Estilos para el botón circular capas */
.circular-button-capas {
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    border: solid 2px black;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 30px;
    top: 110px;
    z-index: 1000;
    display: flex; /* Usar flexbox para centrar contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}


/* Estilos para el botón circular mapa*/
.circular-button-mapa {
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    border: solid 2px black;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 30px;
    top: 180px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/mexico.png");
    background-size: 70%
}

/* Estilos para el botón circular medicion*/
.circular-button-imprimir {
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    border: solid 2px black;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 30px;
    top: 250px;
    z-index: 1000;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/report.png");
    background-size: 70%
}

/* Estilos para el menú desplegable capas*/
.dropdown {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1000;
    left: 100px;
    top: 90px;
    width: 350px;
    max-height: 500px; /* O el valor que prefieras */
    overflow-y: auto;
    padding-top: 7px;
    padding-bottom: 7px;
}


/* Estilos para la lista de opciones */
.options-list {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 20px;
}

.options-list li {
    margin-bottom: 5px;
    z-index: 1000;
    border-radius: 20px;
}

.options-list1 {
    background-color: #71c1f0;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.options-list1 li {
    background-color: #abe0ff;
    border-radius: 10px;
    margin-top: 10px;
    padding: 8px;
    list-style: none;
    margin-left: -30px;
}

.boton-poblacion {
    width: 185px;
    padding-left: 15px;
    padding-right: 305px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 3px;
    border-radius: 10px;
    background-color: #095a89;
    color: #fff;
    border: none;
    margin-bottom: 3px;
    margin-top: -10px;
}


.boton-educacion {
    width: 185px;
    padding-left: 15px;
    padding-right: 305px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 3px;
    border-radius: 10px;
    background-color: #095a89;
    color: #fff;
    border: none;
    margin-bottom: 3px;
    margin-top: 10px;
}


.coordinates-container {
    font-family: Arial, sans-serif;
    font-size: 12px;
    z-index: 1000;
    font-weight: bold;

}

/* Estilo para la escala */
.leaflet-control-scale-line {
    background: #fff;
    color: #000;
    border: 2px solid #777;
    border-top: none;
    line-height: 1.1em;
    padding: 2px 5px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Estilo para la etiqueta de la escala */
.leaflet-control-scale-label {
    display: block;
    color: #555;
    margin-top: 5px;
    font-size: 12px;
}

.tooltip {
    color: #fff;
    text-align: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    background: none;
    box-shadow: none;
    border: 0px;
    display: block;
}

/* Estilos para la impresión */
@media print {
    .tooltip {
        display: none;
    }
}

.dropdown1 {
    max-height: 200px; /* O el valor que prefieras */
    overflow-y: auto;
  }

/* Estilo ventana modal */

.titulo-modal {
  margin-bottom: 15px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:normal;
  margin-top: -3px;
}

.titulo-modal span {
  font-weight: bold;
}

.texto-modal {
  font-size: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight:lighter ;
  padding-bottom: 15px;
}
  
.dialogo-modal {
  max-width: 650px;
  border-radius: 25px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ffffff;
  border: none;
}

.dialogo-modal::backdrop {
  background: rgba(0, 0, 0, 0.388);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Puedes ajustar este valor según sea necesario */
}

.btn-container button {
  flex: 1; /* Asegura que ambos botones tengan el mismo ancho */
}

.btn-aceptar-modal {
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 18px;
}

.btn-aceptar-modal:hover {
  color: #095a89;
}

.btn-cerrar-modal {
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 18px;
}

.btn-cerrar-modal:hover {
  color: #095a89;
}